<nav
	class="navbar sticky-top navbar-expand navbar-dark bg-dark justify-content-center"
>
	<div class="navbar-nav">
		<a class="nav-item nav-link active" href="/">Home</a>
		<a class="nav-item nav-link" href="/players">Players</a>
		<a class="nav-item nav-link" href="/teams">Teams</a>
	</div>
</nav>